<div class="home-banner" style="background-image: url(<%= image_path 'bg_header_sum.jpg' %>)">
<%= form_tag("/users", method: "get", class: "form-inline") do %>
  <%= text_field_tag :q, nil, class: 'form-control', placeholder: "Paris", input_html: { id: :user_input_autocomplete_address } %>
  <%= submit_tag("Search", class: "form_submit btn btn-home")  %>
<% end %>
</div>
