<div class="home-banner" style="background-image: url(<%= image_path 'bg_header_sum.jpg' %>)">
<div class="home-title">
  <h5>THE RIGHT</h5>
  <h1>ARTIST</h1>
  <h5>FOR THE RIGHT</h5>
  <h1>TATTOO</h1>
</div>

<%= form_tag("/users", method: "get", class: "form-inline", html: { method: :put }) do %>
  <%= text_field_tag :q, nil, class: 'form-control', placeholder: "Paris", id: :user_input_autocomplete_address %>
  <%= submit_tag("Search", class: "form_submit btn btn-home")  %>
<% end %>

</div>
