.form-inline #q {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 50px;
    width: 50%;
    border: white;
    background-color: rgba(0,0,0,0.6);
    color: white;
    box-shadow: none;
    @media (max-width: 768px) {
      width: 70%;
  }
   @media (max-width: 375px) {
      width: 70%;
  }
}

.form-inline {
  padding-top: 40px;
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-inline .btn-home {
    color: white;
    margin-left: -5px;
    background-color: #25A998;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 50px;
    width: 10%;
    @media (max-width: 768px) {
      width: 20%;
    }
   @media (max-width: 375px) {
      width: 30%;
  }
}

.form-inline .form-control {
  @media (min-width: 0px) {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.home-banner #user_input_autocomplete_address {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 50px;
    width: 50%;
    border: white;
    background-color: rgba(0,0,0,0.6);
    color: white;
    box-shadow: none;
    @media (max-width: 768px) {
      width: 70%;
  }
   @media (max-width: 375px) {
      width: 70%;
  }
}

.search-shops #user_input_autocomplete_address {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 50px;
    width: 50%;
    border: white;
    background-color: white;
    color: #25AA99;
    box-shadow: none;
    @media (max-width: 768px) {
      width: 70%;
  }
   @media (max-width: 375px) {
      width: 70%;
  }
}
